
@font-face {
  font-family: "LatinModern-Math";
  src: url("../../assets/LatinModern-Math.otf");
  font-display: auto;
}

@font-face {
  font-family: "TexGyrePagella";
  src: url("../../assets/TexGyrePagella.otf");
  font-display: auto;
}

@font-face {
  font-family: "UbuntuMono";
  src: url("../../assets/UbuntuMono.ttf");
  font-display: auto;
}
