
body {
  font-family: UbuntuMono;
  font-size: 18px;
  padding: 2rem 5rem;
  background-color: #fffef0;
}

#container {
  padding: 2rem 5rem;
}

.day {
  color: black;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 10px 5px;
}

/* .night {} */

.console {
  display: none;
}

#footer {
  margin-top: 1rem;
  text-align: center;
}

h2,
h3,
h4 {
  font-weight: normal;
}


#snackbar {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* width: 3rem; */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}

#snackbar.show {
  visibility: visible;
  transform: translateY(50px);
  animation: snackbar-scroll-show 0.3s ease-in-out;
}


#snackbar.hide {
  visibility: visible;
  transform: translateY(-50px);
  animation: snackbar-scroll-hide 0.3s ease-in-out;
}



@keyframes snackbar-scroll-hide {
  0% {
    transform: translateY(50px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes snackbar-scroll-show {
  0% {
    transform: translateX(-50%);
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%);
    transform: translateY(50px);
    opacity: 1;
  }
}




/* 
.editor {
  outline: none;
  border: 2px solid;
  border-radius: 4px;
  font-size: 20px;
  font-family: monospace;
} 
*/

/* .cm-editor {
  font-size: 18px;
} */

/* .cm-gutters,
.cm-content {
  border: 0px;
  font-family: "JetBrains Mono";
}

.cm-editor.cm-focused {
  outline: none;
} */

.right-operate {
  margin-top: 0.25em;
  margin-left: 1rem;
  margin-right: 0.25rem;
  font-size: 1.2rem;
  font-family: "JetBrains Mono";
  text-align: right;
  cursor: pointer;
  float: right;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}



.right-operate:hover {
  /* color: #ff8ac1; */
  transform: scale(1.1);
}

.right-operate:active {
  color: #ff69b4;
  transform: scale(0.9);
}

label {
  font-size: 1.2rem;
  user-select: none;
}

a {
  color: rgba(56, 56, 56, 0.5);
  text-decoration: none;
  background-position: bottom;
  background-size: 100% 0.35em;
  background-repeat: repeat-x;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



a:hover {
  color: #d480aa;
  background-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa);
  background-size: 100% 0.38em;
}

.vert-top {
  margin: 0 5px;
  vertical-align: top;
}

#typeface-set {
  margin: 5px 0px;
}

#unicode-board {
  /* overflow-x: scroll; */
  font-size: 20px;
  font-family: TexGyrePagella, LatinModern-Math, serif, sans-serif;
}

#optionals {
  margin: 1rem 0;
}

.optional {
  display: inline;
}

@media screen and (max-width: 900px) {
  /* .cm-editor {
    font-size: 16px;
  }

  #unicode-board {
    font-size: 16px;
  } */

  body {
    font-size: 16px;
    padding: 0;
  }

  #container {
    padding: 1rem;
  }

  #unicode-board {
    font-size: 18px;
  }

  .console {
    display: block;
  }


}
